<div id="disc">
  <h4>¡Lauren is a going to Italy!</h4>
  <h1>BAPA DIBOOPI DI BAAPADA!!!!</h1>
</div>
<div id="filler-container" class="js-masonry">
  <div class="poster">
    <%= image_tag 'filler/filler1.jpg' %>
  </div>
  <div class="poster">
    <%= image_tag 'filler/filler2.jpg' %>
  </div>
  <div class="poster">
    <%= image_tag 'filler/filler3.jpg' %>
  </div>
  <div class="poster">
    <%= image_tag 'filler/filler4.jpg' %>
  </div>
  <div class="poster">
    <%= image_tag 'filler/filler5.jpg' %>
  </div>
  <div class="poster">
    <%= image_tag 'filler/filler6.jpg' %>
  </div>
  <div class="poster">
    <%= image_tag 'filler/filler7.jpg' %>
  </div>
</div>