<%= form_for(@homepage_tile) do |f| %>
  <% if @homepage_tile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homepage_tile.errors.count, "error") %> prohibited this homepage_tile from being saved:</h2>

      <ul>
      <% @homepage_tile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
