<!DOCTYPE html>
<html>
<head>
  <title>LaurensSite</title>
  <script type="text/javascript" src="//use.typekit.net/wau5wbw.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</html>
